* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:rgb(210, 86, 24);
    padding: 40px;
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

.main-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #f4f4f4;
    padding: 25px;
    border-radius: 12px;
    width: 450px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.card h2 {
    color: #5c6bc0;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

textarea {
    resize: none;
    height: 70px;
}

button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #4b0caa;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: #0b9317;
}

.primary-btn {
    width: 100%;
}

.btn-group {
    display: flex;
    gap: 10px;
}

.event-card {
    background: #e6f4ff;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
}

.empty {
    text-align: center;
    margin-top: 20px;
    color: gray;
}

.dom-card {
    max-width: 930px;
    margin: 30px auto;
}

#keyOutput {
    background: #ddd;
    padding: 10px;
    border-radius: 6px;
    margin-top: 15px;
}